body{
    
    background-color: #fff5ee;
}


.titulo{

    font-style: italic;
    
    text-align: center;
    background-color: #C8B6A6;
}

.color_texto_pasteleria{

    background-color: #C8B6A6;
    border-radius: 5px;


}

.area_carrito{

    background-color: #ff5722; /* Naranja personalizado */
  border-color: #000000;
    text-align: center;

}

.area_del_formualario{

    background-color: #ffd5b7;
     border-radius: 5px;
}